.MuiPaper-root {
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    color:#4983FF !important;
  }
.MuiFab-root {
    margin: 5px !important;
    background-color: #2ED801 !important;
    color: #294B52 !important;
    height: 36px;
    width: 36px;
}
.MuiFab-root:hover {
    background-color: #5C798F  !important;
}
.iconSnackbar{
    color: white !important;
}
.sessionNumber{
    padding-top: 7px;
}
.add_new_formation {
    float: none;
    margin-top: 20px;
}
.extendedIcon {
    margin-right: 5px;
}
.MuiSvgIcon-root {
    vertical-align: bottom !important;
    height: 20px !important;
    width: 20px !important;
}
.modifierButton{
    height: 36px !important;
    width: 36px !important;
}
.heading {
    font-size: 18px !important;
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
    color: #4983FF !important;
}
.details {
    align-items: center;
    list-style-type: none;
    display: block !important;
    text-align: left;
}
.distDateTitle{
    text-align: left;
    padding-inline-start: 40px;
}
.distDateTitle > ul{
    text-align: center;
}
.distDate {
    list-style-type:none;
    text-align: left;
}